:root{
  --yellow-castilho: #face2d;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.wizard-progress {
	display: flex;
	width: 100%;
	margin: 0px 0px 10px 0px;
	font-family: 'Inter', sans-serif;
	z-index: 20;
	position: fixed;
	top: 0;
	overflow-x: visible;
}

.step {
	position: relative;
	flex: 1;
	padding: 16px 20px;
	background: linear-gradient(145deg, #f0f0f0, #dcdcdc);
	color: #333;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%,
			0 100%, 20px 50%);
	margin-left: -20px;
	z-index: 1;
	transition: all 0.3s ease;
	letter-spacing: 0.5px;
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

/*1a etapa*/
.step:first-child {
	margin-left: 0;
	clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%,
			0 100%);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

/*�ltima etapa */
.step:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 0, 100% 100%, calc(100% - 20px) 100%,
			0 100%, 20px 50%);
}

/* Etapa ativa */
.step.active {
	background: linear-gradient(135deg, #ffe259, #ffa751);
	color: #000;
	z-index: 2;
	box-shadow: 0 8px 16px rgba(255, 193, 7, 0.25);
	transform: scale(1.02);
}

/* Etapa conclu�da*/
.step.completed {
	background: linear-gradient(to right, #43cea2, #185a9d);
	color: white;
}

.strongAlert {
	color: red;
}

/* Hover para qualquer etapa (menos ativa) */
.step:not(.active):hover {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}

.popover{
  max-width: 800px !important;
}




.flatpickr-input {
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	padding: 6px 12px !important;
	font-size: 14px !important;
	cursor: pointer !important;
}

.flatpickr-input:hover {
	border-color: #66afe9 !important;
}

.flatpickr-input:focus {
	border-color: #66afe9 !important;
	box-shadow: 0 0 5px rgba(102, 175, 233, 0.5) !important;
	outline: none !important;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--ck-content-font-family: 'Lato';
}

.main-container {
	font-family: var(--ck-content-font-family);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}


/* Container principal do formulário com efeito 3D - init */
.aba-container {
  position: relative;
  perspective: 1200px;
  min-height: 400px;
}
.painel-formulario {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin-bottom: 30px;
  perspective: 1200px;
}
.pagina {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  backface-visibility: hidden;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform-style: preserve-3d;
  transform-origin: left center;
}
.pagina.ativa {
  opacity: 1;
  pointer-events: auto;
  position: relative;
  z-index: 2;
}
.pagina.escondida-para-direita {
  opacity: 0;
  pointer-events: none;
  transform: translate(200%, 0px);
  z-index: 1;
}
.pagina.escondida-para-esquerda {
  opacity: 0;
  pointer-events: none;
  transform: translate(-200%, 0px);
  z-index: 1;
}
.divNovoContratoItem{
	padding: 20px 30px;
}
.navegacao-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  display: flex; 
  position: fixed; 
  bottom: 0; 
  background-color: white; 
  width: 100%; 
  z-index: 20;
}
.pagination{
	font-size: 12px;
	display: inline-block;
    margin: 10px 0px !important;
    border-radius: 10px;
    padding: 8px 14px !important;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
	white-space: nowrap;
}
.pagination-active{
	font-size: 20px;
	font-weight: bold;
    background: #ffa751 !important;
    color: white;
}
.bolinhas {
  display: flex;
  gap: 10px;
	align-items: flex-end;
	height: 65px;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.bolinhas::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.bolinha {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}
.bolinha.ativa {
  background-color: #007bff;
}
#btn-voltar,
#btn-avancar {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
}
/* Container principal do formulário com efeito 3D - end */

.panelAprovacao {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 20px 30px;
    max-width: 1400px;
    margin: 0px auto !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    font-family: 'Segoe UI', sans-serif;
}
.panelAprovacao h2{
	font-size: 1.4rem;
	font-weight: 600;
	 margin-bottom: 30px;
	 color: grey
}


.colAprovacao{
    padding: 0;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 0px 0px #5b5b5b;
    background-color: lightgray;
}
.aprovacao-card {
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
}

.aprovacao-card>h3{
	  background: #638FA5;
	  color:white;
	  margin-top: 0px !important;
	  margin-bottom: 15px !important;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    background: #000000; /* op��o 1 */
    /* background: linear-gradient(135deg, #ffe259, #ffa751); op��o 2 */
    color: white !important;
    display: inline-block;
}
.aprovacao-card:hover {
    transform: translateY(-2px);
}

.panelAprovacao label {
    font-weight: 600;
   color: grey;
}

.panelAprovacao>.colAprovacao span {
    color: #333;
    display: inline-block;
    border-bottom: 1px solid grey;
    width: 100%;
}

.panelAprovacao .row {
    margin-bottom: 8px;
}

.panelAprovacao button.btn {
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 500;
    background: grey;
    border: none;
    transition: background 0.3s ease;
}
.panelAprovacao button.btn:hover {
    background: linear-gradient(135deg, #185a9d, #43cea2);
}


/* CK5 Editor - init*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--ck-content-font-family: 'Lato';
}

.main-container {
	font-family: var(--ck-content-font-family);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.watermark {
	font-size: 50px;
	opacity: 0.5;
	color: black;
	position: fixed;
	left: 20%;
	top: 50%;
	transform: rotate(25deg);
	letter-spacing: 10px
}

.visible {
    display: block!important;
}
.has-error {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 2px!important;
    padding-right: 2px!important;
    display: inline - block;
    border: 1px red solid!important;
    color: black!important;
}


.swal2-container {
  z-index: 100000;
}

.selectize-dropdown .active:not(.selected){
    background-color: lightgray !important;
    color: black !important;
}
.selectize-dropdown .selected{
    background-color: lightgray !important;
    color: black !important;
}
.selectize-control.single .selectize-input{
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-color: #fff !important;
    background-image: none !important;
}


@media (max-width: 767px) {
    .wizard-progress {
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-color: #ffa751 #f0f0f0; 
    }

    .wizard-progress::-webkit-scrollbar {
        height: 4px;
    }
    .wizard-progress::-webkit-scrollbar-track {
        background: #f0f0f0; 
    }
    .wizard-progress::-webkit-scrollbar-thumb {
        background: #ffa751; 
        border-radius: 2px;
    }
       .step-container {
        min-width: max-content;
        padding-bottom: 8px; 
    }
    .step {
        flex-shrink: 0; 
    }

    .navegacao-formulario{
    margin-bottom: 50px;
    }
}

    .rowFlex {
      display: flex;
      flex-wrap: wrap;
    }

.readonlyField{
  color: rgb(88, 89, 91) !important; /* Cor que o Fluig usa para os campos, usei aqui para não ficar diferente do resto (antes era cor black) */
  cursor: not-allowed; /* Cursor de "proibido" ao passar o mouse no campo */
  border-color: #d1d3d4 !important; /* Força a cor da borda quando o mouse passa por cima como se não tivesse passado (quando passa, altera a cor para preto) */
}

.dt-hasChild.shown>td:nth-child(0),.dt-hasChild.shown>td:nth-child(0){
  -ms-grid-row-span: 2;
}


.btnAnexo{
    display: flex !important;
    border-radius: 5px !important;
    align-items: center;
    width: fit-content;
    height: 25px !important;
    
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    overflow: hidden !important;

    margin-right: 10px;

    color: gray !important;
    border-color: gray !important;
}
.btnAnexo>button{
    border-radius: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: 20px !important;
}
.btnAnexo>button>i{
    border-bottom-width: 4px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: red;
}
.btnAnexo>b{
   margin-right: 10px;
}

.divEquipamento{
  background-color: #f4f6f9;
  padding: 5px 30px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.divHeaderEquipamento{
  margin-bottom: 15px !important;
}
.divChildRowEquipamento{
  padding: 20px 30px;
}


.selectize-dropdown .active:not(.selected){
    background-color: lightgray !important;
    color: black !important;
}
.selectize-dropdown .selected{
    background-color: lightgray !important;
    color: black !important;
}
.selectize-control.single>.selectize-input:not(.locked){
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-color: #F7F8FA !important;
    background-image: none !important;
    height: var(--form-control-height);
}
.selectize-control.single .selectize-input.locked{
    background-color: #eeeeee !important;
    box-shadow: rgba(0, 0, 0, 0.0) !important;
    background-image: none !important;
    height: var(--form-control-height);
}


.fluig-style-guide hr{
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

/* Formata a cor de fundo dos inputs do formulario */
.form-control {
    background-color: #F7F8FA !important;
}

#tableEquipamentos, #tableEquipamentosAditivoRescisao, #tableContratoPrincipal {
  width: 100% !important;
}


/* Seleciona todas as .pagina que NÃO possuem a classe .ativa */
.pagina:not(.ativa) {

  /* Colapsa completamente a altura do elemento */
  height: 0 !important;

  /* Esconde qualquer conteúdo que ultrapasse a altura (0) */
  overflow: hidden !important;

  /* Remove margem superior para não deixar espaço vazio */
  margin-top: 0 !important;

  /* Remove margem inferior para não afetar o layout */
  margin-bottom: 0 !important;
}

/* Seleciona apenas a página atualmente ativa/visível */
.pagina.ativa {

  /* Permite que a altura se ajuste automaticamente ao conteúdo */
  height: auto !important;

  /* Permite que o conteúdo seja exibido normalmente */
  overflow: visible !important;

  /* Adiciona espaço acima/abaixo da página ativa */
  margin-top: 45px !important;
  margin-bottom: 65px !important;
}

.checkboxSelecionaEquipamentoAditivo, 
.checkboxSelecionaEquipamento,
.checkboxContratoPrincipal {
	width: 20px;
	height: 20px;
}

/* Container geral */
.selectize-control.form-control {
  padding: 0;
  border: none;
  box-shadow: none;
}

/* Input do selectize */
.selectize-control .selectize-input {
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: none;
}

/* Focus igual Fluig */
.selectize-control .selectize-input.focus {
  border-color: #66afe9;
  outline: 0;
}

/* Dropdown */
.selectize-dropdown {
  border-radius: 4px;
}

.hidden {
  display: none;
}

[readonly] {
  color: rgb(88, 89, 91) !important; /* Cor que o Fluig usa para os campos */
  cursor: not-allowed; /* Cursor de "proibido" ao passar o mouse no campo */
}

/* =========================== 
  PDF Manual Contrato
*/
#pdfManualContrato {
    min-height: 100vh;
    width: 103%;
}
.viewerPdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnArea {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
.checkboxAceite {
    margin-top: 1.4em;
}
/* =========================== 
*/


/* =========================== 
  Readonly
*/

/* Inputs */
.fluig-style-guide input.form-control[readonly] {
    color: rgb(88, 89, 91) !important; /* Cor que o Fluig usa para os campos */
    background-color: #eeeeee !important; /* Cor de fundo do campo */
    cursor: not-allowed !important; /* Cursor de "proibido" ao passar o mouse no campo */
}


/* Select */
.fluig-style-guide select.form-control[readonly],
select.form-control[readonly] {
    background-color: #EEEEEE !important;
    color: #555 !important;
    cursor: not-allowed !important;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
}

/* =========================== 
*/